
* {
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
}

#p5-container {
    width: 100vmin;
    height: calc(100vmin*.75);
    background: #000;
    color: #0f0;
}

#buttons button,
#buttons input {
    background: #fff;
    color: #000;
    padding: .5em;
    border: 1px solid #0f0;
    border-radius: .5em;
}